
body {
   background-image: linear-gradient(
        100deg,
        #171133,
        #581E44
   );

        background-size: 100% 100%;
        background-repeat: no-repeat;
    
}
main {
    width: 100%;
    height: 100%;
    padding: 30px;

}

.header-content {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
    
    
}