@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    gap: 30px;
        
    
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

header {
    width: 100%;
    background-color:black;
    border-radius: 10px;
}

.header-content {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 24px;

    font-family: 'Sora', sans-serif;


    
}

.nav-link {
    color: white;
    text-decoration: none;
}

.main-info { 
    width: 100%; 
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;

}

.me-wrapper{
    flex-direction: column;
    margin-top: 200px;

    h1, h2{
        font-family: 'sora';
    }
}

.social{
    display: flex;
    gap: 10px;
}

.skills {
    h2{
        display: flex;
        justify-content: center;
        font-family: 'sora';
    }
}
.icons {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;


    img {
    width: 60px;
    }
}

.title-projects {
        display: flex;
        justify-content:center;
        font-family: 'sora';
        color: white;
        
    }

.projects{
    display: flex;
    width: 100%;
    background-color: black;
    margin-top: 50px;
    flex-direction:column;
    padding: 80px 60px;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center;


    h3 ,h4, p {
        display: flex;
        justify-content:flex-start;
        font-family: 'sora';
        color: white;
        
    }
    img {
        width: 600px;
        height: 400px;
        border-radius: 30px;
        ;
    }


}

.luna, .formulario {
    display: flex;
    flex-direction: column;
}

@media (max-width: 980) {
   .main-info {
    justify-content: center;
    flex-direction: column;
   }
}
