body {
    display: flex;
    flex-direction: column;


   background-image: linear-gradient(
        100deg,
        #171133,
        #581E44
   );

        background-size: 100% 100%;
        
    
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.header-content {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
    justify-content: center;

    
}

.main-info { 

    width: 601.58px;
    height: 183.11px;
    top: 398.87px;
    left: 222.62px;
}